{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}

<section class="bg-home bg-light d-flex align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <div class="icon d-flex align-items-center justify-content-center bg-soft-primary rounded-circle mx-auto" style="height: 90px; width:90px;">
                    <i class="uil uil-thumbs-up align-middle h1 mb-0"></i>
                </div>
                <h1 class="my-4 fw-bold">Verification</h1>
                <form method="get" id="form">
                

                {% if app.user %}
					<div class="mb-3">
						Vous êtes connectés en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}
                    
                <h1 class="h3 mb-3 font-weight-normal">Merci de vérifier votre adresse électronique</h1>
                <p class="text text-danger" id="demo"></p>
                <label for="inputCode">Code d'activation</label>
                
                <input type="number"    name="code" id="inputCode" class="form-control"
                       required
                       autofocus>




            
                <button  onClick="myFunction()" class="btn btn-lg btn-primary mt-2" type="button">
                    Vérifier
                </button>
            </form>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div> <!--end container-->
</section>
{% endblock %}
{% block javascripts %}
<script>
function myFunction() {
  var inpObj = document.getElementById("inputCode").value;
  var regex= /^\d{5,8}$/
  if (!inpObj.match( regex )) {
    document.getElementById("demo").innerHTML = "Doit contenire au max 8 chiffres et au min 5 chiffres";
    return false;
  }
    document.forms["form"].submit();
}
</script>
{% endblock %}
